$color-primary : #55c57a;
$color-primary-light : #7ed56f;
$color-primary-dark : #28b485;
$color-dark-grey : #777;
$color-white : #fff;
$color-black : #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-dark-grey;
  padding: 3rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, #7ed56fbb, #28b485d2),
    url('../img/hero.jpg');
  background-size: cover;
  /* take first coordinate as (0,0) */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* position: relative; */

  &__logo-box {
    position: absolute;
    left: 5rem;
    top: 5rem;
  }
  
  &__logo {
    height: 3.5rem;
    color: $color-white;
  }
  
  &__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
}







.heading-primary {
  text-transform: uppercase;
  color: $color-white;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation-name: moveToRight;
    animation-duration: 1s;
    backface-visibility: hidden;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation-name: moveToLeft;
    animation-duration: 1s;
    margin-bottom: 6rem;
  }
  
}


@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }

  50% {
    opacity: 0.5;
    transform: translate(1.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }

  50% {
    opacity: 0.5;
    transform: translate(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}


.btn {
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  text-transform: uppercase;
  &-white {
    background-color: $color-white;
    color: $color-dark-grey;
    animation-name: moveUp;
    animation-duration: .7s;
  }
  
  &:hover {
    transform: translate(.5rem, -.5rem);
    box-shadow: -.5rem .5rem 2rem rgba($color-black, 0.29);
  }
  
  &:active {
    transform: translate(.3rem, -.3rem);
    box-shadow: -.3rem .3rem 2rem rgba($color-black, 0.356);
  }
}

