.section-about {
  background-color: #f7f7f7;
  padding: 35rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, #7ed56fbb, #28b485d2),
    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -15rem;
}

.section-tours {
  background-color: #f7f7f7;
  padding: 20rem 0 20rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 20rem 0;
  // background-color: #f7f7f7;
  position: relative;
}